<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="color: aquamarine;"> username is:{{username}}</p>
    <p style="color: black;"> book name is:{{book.bookname}}</p>
    <p style="color: green;"> book author is:{{book.author}}</p>
    <p style="color: black;"> book author is:{{books.0}}</p>
    <p style="color: blue;"> book author is:{{books.0.bookname}}</p>
    <p style="color: blue;"> model person is:{{person.realname}}</p>


</body>
</html>